// % for shared
%btn {
    border-radius: 6px;
	border: 1px solid $primary-color;
    color: #FFFFFF;
    font-family: inherit;
	font-size: 12px;
    font-weight: bold;
    margin: 2px;
	padding: 12px 45px;
	letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
	transition: transform 80ms ease-in;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
        transform: scale(.98);
    }

    &:active {
        transform: scale(0.95);
    }
    
    &:focus {
        outline: none !important;
    }

    &::-moz-focus-inner {
        border: 0;
    }
}

.btn-primary {
    @extend %btn;
    background-color: $primary-color;
    &:hover {
        background-color: $primary-color;
        border: 1px solid $primary-color;
    }

    &:focus {
        background-color: $primary-color;
        border: 1px solid $primary-color;
        // color: $primary-color !important;
        outline:0px !important;
        -webkit-appearance:none;
        box-shadow: none !important;
    }
}

.btn-secondary {
    @extend %btn;
    background-color: transparent;
    color: $primary-color;

    &.active {
        color: $light-color;
        background-color: #dc3545;
        border-color: #dc3545;
        &.success {
            background-color: #28a745;
            border-color: #28a745;    
        }
    }

    &.answer-option {
        text-transform: none;
    }

    &:hover {
        background-color: transparent;
        border: 1px solid $primary-color;
        color: $primary-color !important;
    }

    &:focus {
        background-color: transparent;
        border: 1px solid $primary-color;
        color: $primary-color !important;
        outline:0px !important;
        -webkit-appearance:none;
        box-shadow: none !important;
    }
}

.btn-primary a {
    text-align: center;
    text-decoration: none;
}

.btn-primary a:visited { 
    color: inherit; 
}

.btn-primary a:active {
    color: $primary-color;
    font-weight: bold;
}

.hamburger-btn {
    border: none;
    outline: 0;
    background-color: transparent;
    svg{
        fill: #454545;
    }
}

.hamburger-btn-close {
    border: none;
    outline: 0;
    background-color: transparent;
    svg{
        fill: #454545;
    }
}

.rating-btn {
    @extend %btn;
    color: $secondary-color;
    padding: 16px;
    width: 20%;

    &.easy {
        border-color: $easy-color;
        background-color: $easy-color;
    }

    &.intermediate {
        border-color: $intermediate-color;
        background-color: $intermediate-color;
    }
    &.medium {
        border-color: $medium-color;
        background-color: $medium-color;
    }
    &.hard {
        border-color: $hard-color;
        background-color: $hard-color;
    }
    &.extreme {
        border-color: $extreme-color;
        background-color: $extreme-color;
    }
}