$light-color: #f4f4f4;
$primary-color: #3f46ad;
$secondary-color: #1a1938;
// $tertiary-color: #323648;
$tertiary-color: #181818;
$text-color: #1d1d1d;
$easy-color: #57e32c;
$intermediate-color: #b7dd29;
$medium-color: #ffe234;
$hard-color: #ffa534;
$extreme-color: #ff4545;