.tracks-row {
    display: flex;
    box-sizing: border-box;
    // margin: -30px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.dashboard-container {
    box-sizing: border-box;
    background-color: $light-color;
    max-width: 1240px;
    border-radius: 6px;
    // border: 1px solid red;
    padding: 0 30px;
    margin: 80px auto;
    // overflow: auto;
}

.exercisepage-container {
    margin: 75px auto;
    border-radius: 15px;
    display: flex;
}

.exercise-container {
    flex: 7;
    display: flex;
    justify-content: center;
    // align-items: center;
    .exercise-card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 90%;
        margin: 0 auto;
        // width: 800px;
        // height: 450px;
        min-height: 450px;
        background: $light-color;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 2px #000;
    }
}

.exercise-content {
    width: 100%;
}

.exercise-utilities-container {
    // border: 2px solid red;
    flex: 2;
    color: white;
}

.exercise-header {
    display: flex;
    height: 15%;
    justify-content: space-evenly;
    border-bottom: 1px solid $secondary-color;
    align-items: center;
}

.exercise-figure {
    display: block;
    margin: 4px auto;
}

.exercise-description {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    .exercise-description-body {
        font-size: large;
        line-height: 1.3;
        margin: 0 0 1.54375rem;
    }
}

.exercise-body {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    // text-align: center;
    font-size: x-large;
    // font-weight: bold;
    // font-style: italic;
    padding: 30px;
}

.exercise-answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;

    .exercise-answer-options {
        display: block;
        flex: 9;
        button {
            width: 80%;
        }
    }
}

// TODO FIX THIS
.exercise-solution {
    border-radius: 10px;
    overflow-y: scroll;
    // opacity: 1;
    height: fit-content;
    max-height: 500px; /* approximate max height */
    // max-height: fit-content;
    border: 1px solid #a2a2a2;
    margin: 10px;
	transition-property: all;
	transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 0.5, 0.5, 0.5);
    // transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    &.is-not-visible {
        max-height: 0;
        // border: none;
        p {
            // opacity: 0;
        }
    }

    p {
        font-size: x-large;
        text-align: center;
    }
}

%exercise-utilities-item {
    background: #242424;
    height: 240px;
    width: 300px;
    border-radius: 10px;
    margin: 2px;
}

.stopwatch {
    @extend %exercise-utilities-item;
    // background-color: $light-color;
    // background: #242424;
    // color: $text-color;
    // height: 240px;
    // width: 300px;
    // border: 2px solid $primary-color;
    // border-radius: 10px;
}

.clock {
    font-family: 'Share Tech Mono', monospace;
    // color: #ffffff;
    text-align: center;
    // color: #daf6ff;
    color: $light-color;
    text-shadow: 0 0 20px $primary-color,  0 0 20px rgba(10, 175, 230, 0);
    .time {
        letter-spacing: 0.05em;
        font-size: 60px;
        padding: 5px 0;
    }
    button {
        outline: none;
        width: 30px;
        height: 30px;
        max-height: 30px;
        max-width: 30px;
    }
}

.rating-container {
    @extend %exercise-utilities-item;
    padding: 14px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.rating-btn-container {
    width: 100%;
    display: flex;
    justify-content: space-around;

    
}

.btn-test {
    outline: none !important;
    border: 2px solid $primary-color;
    margin: 4px;
    text-align: center;
    font-size: larger;
    width: 50px;
    height: 50px;
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    &:hover {
        outline: none !important;
        transform: scale(.98);
        // background-color: none;
    }

    &:focus {
        outline: none !important;
        // background-color: $light-color;
    }

    &::-moz-focus-inner {
        border: 0;
    }

    svg {
        background-color: none;
        height: 20px;
        width: 20px;
        // margin: 5px 0px 0px 4px;
        fill: $primary-color;
    }

    .btn-pause {
        margin: 0px 0px 2px 0px;
    }

    .btn-reset {
        margin: 0px 0px 5px 0px;
    }

    .btn-play {
        margin: 0px 0px 2px 4px;
    }
}
